
p{
	background-color:Tomato;
	color:green;
	text-size:50px
	text-align:right;
}
#android{
	text-align: middle;
	color: red;
}
.core{
	text-align: right;
	color: yellow;
}
.pyhton{
          text-align: left;
          color:green;
}
